{% raw %}
<nav role="navigation" class="navbar-default navbar-static-side-light" ng-controller="SideNavCtrl as snc">
    <ul class="nav" style="display: none;" side-menu>
        <li class="nav-section m-b-xs" ng-repeat="(key, firstlevel) in snc.side_nav_data.navigation_items">
            <a>
                <i class="hpe-icon {{firstlevel.icon}}"></i> <span localize-all="firstlevel"></span><span class="hpe-icon hpe-up arrow"></span>
            </a>
            <ul class="nav nav-second-level" ng-if="firstlevel.children">
                <li class="m-b-xs" ng-repeat="(key, secondlevel) in firstlevel.children" ng-class="{'nav-section': secondlevel.children}">
                    <a class="nav-item" localize-all="secondlevel" ng-if="secondlevel.url"></a>
                    <a ng-if="secondlevel.children">
                        <span localize-all="secondlevel"></span><span class="hpe-icon hpe-up arrow"></span>
                    </a>
                    <ul class="nav nav-third-level" ng-if="secondlevel.children">
                        <li class="m-b-xs" ng-repeat="(key, thirdlevel) in secondlevel.children">
                            <a class="nav-item" localize-all="thirdlevel"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{% endraw %}

<script type="application/json" id="side-nav-localization">
    {{ site.data.side_navigation | jsonify }}
</script>
