.banner {
	display: flex;
	
	height: 466px;
    padding-top: 200px;

	background-image: url('../assets/img/banner.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	.title {
		font-family: Metric-Semibold;
		font-size: 60px;
		color: #ffffff;
		margin: 0;
		text-align: center;
		padding: 0 40px;
		width: 100%;
	}

	.subtitle {
		font-family: Metric-Light;
    	font-size: 17px;
		color: #ffffff;
		letter-spacing: -0.2px;
		text-align: center;	
		width: 100%;
	}

	.slogan {
		margin-top: 28px;
		color: #ffffff;		
		text-align: center;
		width: 100%;
	}
}

@media only screen and (min-width: 1921px) {
	.banner {
		background-size: cover;
	}
}

@media only screen and (max-width: 991px) {
	.banner {
		padding-top: 138px;
	}
}

@media only screen and (max-width: 653px) {
	.banner {
		padding-top: 0;
	}
}

.container {
	max-width: 1005px;
}

hr {
	border-top: 2px solid #e5e5e5 !important;
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

.introduction {

	padding-top: 63px;
	padding-bottom: 77px;

	h1 {
		font-family: Metric-Semibold;
		color: #000000;
		text-align: center;
		margin-bottom: 19px;

		&:first-of-type {
			margin-top: 0;
		}
	}

	p {
		font-family: Metric-Light;
		color: #333333;
		font-size: 22px;
    	text-align: center;
		margin-bottom: 25px;
		line-height: 25px;
    	letter-spacing: 0.4px;

		&:last-of-type {
			margin-bottom: 5px;
		}

		img {
			width: 100%;
			margin-bottom: 10px;
		}
	}

}

.service {

	padding-top: 38px;
	padding-bottom: 60px;

	&.purple {
		background-color: #614767;
		color: #ffffff;
	}

	&.bronze {
		background-color: #80746e;
		color: #ffffff;
	}

	&.steel {
		background-color: #5f7a76;
		color: #ffffff;
	}

	&.white {
		background-color: #ffffff;
		color: #333333;

		h1 {
			color: #000000;
		}
	}

	h1 {
		font-family: Metric-Semibold;
		margin-top: 0;
		text-align: center;
		margin-bottom: 38px;
	}

	p {
		font-family: Metric-Light;
		font-size: 22px;
    	text-align: center;
		margin-bottom: 25px;
		line-height: 25px;
    	letter-spacing: 0.4px;
	}

	.two-column {

		h1 {
			text-align: left;
		}

		.content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;


			&.right {
				flex-direction: row-reverse;

				.text {
					padding: 0 30px 30px 0px;					
				}
			}

			&.left {
				.text {
					padding: 0 0px 30px 30px;					
				}
			}

			.image {
				padding-bottom: 30px;
				
				img {
					max-width: 100%;
				}
			}

			.text {
				flex: 1;
				min-width: 300px;			

				p {
					text-align: left;
					margin-bottom: 0;
				}			
			}
		}
	}

	.service-content h1,
	.service-content p {
		text-align: left;
	}

	.service-image img {
		margin: 8px 0;
    	width: 100%;
	}

}
