<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="landing-container">

      <div class="caf-logo">
        <img src="{{page.logo_top_left}}" />
      </div>

      <div class="hpe-logo">
        <img src="{{page.logo_bottom_left}}" />
      </div>

      <div class="text-container">
        <p class="landing-text">{{page.title}}<br /> <small>{{page.sub_title}}</small></p>
        <a id="landing-link">
            <button type="button" class="m-b btn btn-w-m button-primary">
                {{page.button_text}}
            </button>
        </a>
      </div>
    </div>

    <script type="text/javascript">
      (function() {
        var button_urls = JSON.parse('{{ page.button_urls | jsonify }}');
        var landingLink = document.getElementById('landing-link');
        
        if (button_urls[localStorage.getItem("selected-language")] !== undefined)
          landingLink.setAttribute("href", button_urls[localStorage.getItem("selected-language")]);
        else 
          landingLink.setAttribute("href", button_urls["default"]);

        var landingBackground = document.getElementsByClassName('landing-container')[0];
        {% if page.background_image %}
          landingBackground.style.backgroundImage = 'url({{ page.background_image }})';
        {% else %}
          landingBackground.style.backgroundImage = 'url(assets/img/landing_4.jpg)';
        {% endif %}

      })();
    </script>

  </body>

</html>
