<!DOCTYPE html>
<html>

{% include head.html %}

<body ng-app="caf" class="splash-page" prevent-animation>

  <div class="splash-header">
      <div class="caf-brand">
          <img class="logo" src="{{ page.logo }}" alt="">
          <h2 class="title">{{ page.title }}</h2>
          <h3 class="slogan">{{ page.slogan }}</h3>
      </div>
  </div>

  <div class="container m-t-xl m-b-xl">

      <div class="row m-b-xl">
          <div class="col-md-12 showcase-header">
            {% capture markdown-include %}{% include_relative {{ site.data.showcase.header.en-us }} %}{% endcapture %}
            {{ markdown-include | markdownify }}
          </div>
      </div>
      <hr>

      <h1 class="text-center text-black">Services</h1>

      {% for section in site.data.showcase.services %}
      
      <div class="row m-b-xl">
          <div class="col-md-12">
            {% capture markdown-include %}{% include_relative {{ section.en-us }} %}{% endcapture %}
            {{ markdown-include | markdownify }}
          </div>
      </div>
      <hr>
      {% endfor %}

  </div>

  <hr>


  <div class="splash-footer">
      <p>{{ page.footer }}</p>
  </div>

    <script type="text/javascript">
      (function() {

        var landingBackground = document.getElementsByClassName('splash-header')[0];
        {% if page.background_image %}
          landingBackground.style.backgroundImage = 'url({{ page.background_image }})';
        {% else %}
          landingBackground.style.backgroundImage = 'url(assets/img/landing_4.jpg)';
        {% endif %}

      })();
    </script>


  </body>

</html>
